@{
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
}


<html>



<body>
    <h2>Welcome Sir/Madam!</h2>
    <p>
        <span>SkyTrip Flights</span><br />
        As compared to the other popular domestic and international carriers in India, SkyTRIP is a new kid on the block, that has made a special place for itself among the travellers who like luxury with their travel experience. Established in the year 2015, the SkyTRIP airlines is a result of partnership between Tata Sons Ltd. and Singapore Airlines. The name SkyTRIP has been derived from the Sanskrit word Vistaar which means expanse, which also reflects the company ideology of expanding at a rapid pace. In a short span of time, SkyTRIP has become a loved airline for both international and domestic travellers with its world class inflight experience
    </p>
    <p>
        <span>About SkyTrip </span><br />

        Air SkyTRIP or Tata SIA Airlines Ltd. is a joint venture of Tata Sons Ltd and Singapore Airlines Ltd. While Tata is a renowned business group based in India with its enterprises all across the globe, Singapore Airlines is a known world class air carrier that flies to 109 cities in 40 countries. SkyTRIP gets its name from the Sanskrit word Vistaar, meaning limitless expanse. Another word ‘tara’ also finds a mention in the airline’s name as well as in the logo that stands for star and depicts the offering of seamless experience to the passengers. The Tata Group holds the majority stake i.e. 51% while SIA shares the remaining stake of 49%. With Air SkyTRIP, both the partners bring in a legendary compilation of world class hospitality and an excellent full service carrier in the country. With an operation of 87 flights weekly, SkyTRIP touches all major destinations in India.
    </p>
    <p>
        <span>SkyTRIP Operation </span><br />

        Getting information of booking and flight status has become quite easy and convenient now. If you have booked your Air SkyTRIP flight through Goibibo.com, you can check your flight status online either by your PNR number or reference number. You can now also get a detailed description of flight timings by stating details such as beginning and end points of your journey, booking name, etc. All of this can be done at your own convenience with the new Goibibo app. Access your flight description and details through the new app anywhere and anytime.

        To check Air SkyTRIP flight status online click here
    </p>
    <p>
        <span>SkyTRIP - History </span><br />

        After starting operation in 2015, SkyTRIP has established a strong foothold in the aviation industry with its world class services to both domestic and international travellers. Started by Tata Sons Ltd. in collaboration with Singapore Airlines, SkyTRIP is among the best airlines in the country with its customer-first approach and international level in-cabin experience that makes SkyTRIP stand among the premier airlines in the country with comparatively decent prices.

        Keeping true to its roots of Tata Code Of Conduct, SkyTRIP follows ethical standard in its operations with global exposure and guidance from Singapore Airlines. While on board SkyTRIP airline, passengers can enjoy free headphones, free drinks, a vast menu of vegetarian and non-vegetarian delicacies and more that too on an economy class cabin as well.
    </p>



</body>
</html>
